* {
    font-family:   'Trebuchet MS', sans-serif;
}
body {
    background-image: url("/CWH_course/Resourses/rainImage2.png");
    background-repeat: no-repeat;
    background-size: 1600px 900px;
    color: aliceblue;
    display: flex;
}
.rightBlock {
    position: absolute;
        right: 0;
        top: 0;
    height: 100vh;
    width: 75vh;
    background-color: rgb(30, 37, 37);
    filter: drop-shadow(0px 0px 15px rgb(24, 28, 28) );
    backdrop-filter: sepia(90%);
    opacity: 0.8;
    /* filter: blur(200px);
    color: black; */
}