/* *, *::after, *::before{
    box-sizing: border-box;
} */

:root {
    --cellSize: 120px;
    --markSize: calc(var(--cellSize) * 0.9);
    --black: rgb(30, 30, 30)
}
 body {
    background-color: rgb(30, 30, 30); 
    margin: 0;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    overflow: hidden;
}
.logo {
    width: 120px;
    position: absolute;
    top: 3%;
    left: 2%;
}
 button {
    
 }
 .board {
    /* height: 100vh; */
    width: 100vw;
    display: grid;
        justify-content: center;
        align-items: center;
    grid-template-columns: repeat(3, var(--cellSize));
    gap: 5px;
    margin-top: 50vh;
    transform: translateY(-50%); 
    margin-bottom: -90px;
 }
 .cell {
    position: relative;
    height: var(--cellSize);
    width: var(--cellSize);
    background-color: rgb(220, 226, 232);
    display: flex;
        justify-content: center;
        align-items: center;
}
    .cell.x::before, .cell.x::after, .board.x .cell:hover::before, .board.x .cell:hover::after  {
        content: '';
        position: absolute;
        height: var(--markSize);
        width: calc(var(--markSize)*.15);
        background-color: rgb(36, 35, 35);
        border-radius: 3px;
    }
    .board.x .cell:hover::before, .board.x .cell:hover::after {
        background-color: rgb(180, 180, 180);
    }
        .cell.x::before,.board.x .cell:hover::before {
            transform: rotate(45deg);
        }
        .cell.x::after, .board.x .cell:hover::after {
            transform: rotate(-45deg);
        }
        .cell.circle::before,
        .cell.circle::after {
            content: '';
            position: absolute;
            height: calc(var(--markSize)*.9);
            width: calc(var(--markSize)*.9);
            /* fill: none; */
            background-color: rgb(36, 35, 35);
            border-radius: 50%;
            /* border: solid 2px rgb(36, 35, 35); */
        }
        .cell.circle::after {
            height: calc(var(--markSize)*.65);
            width: calc(var(--markSize)*.65);
            background-color: rgb(220, 226, 232)
        }
/* .cell.x {
    background-color: yellow;   
} */

.winningMsg {
    /* display: flex; */
}

